#main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke ;
}
#first{
    padding: 30px  30px;
    width: fit-content;
    height: fit-content;
    background-color: #2980B9;
    border-radius: 19px;
}
.col{
    color: white;
}